.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.page {
	width: 1200px;
	margin: 0 auto;

	font-family: "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.page-header {
	height: 600px;

	background-color: #617ab9;
}

.general-nav {
	background-color: #4d5b71;
}

.general-nav__list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.general-nav__item:not(:last-child) {
	margin-right: 10px;
}

.general-nav__link {
	display: inline-block;
	padding: 30px;

	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.general-nav__link:hover,
.general-nav__link:focus {
	background-color: #353738;
}

.general-nav__link:active {
	background-color: #282f35;
}

.page-header__logo {
	display: block;
	margin: 100px auto;

	border-radius: 50%;
	border: 10px solid #4d5b71;
}

.skills {
	padding: 40px 0;
}

.skills__title {
	margin: 0;

	text-align: center;
	text-transform: uppercase;
}

.skills__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;

	list-style: none;
}

.skills__item {
	padding: 10px;
}

.my-works {
	padding: 40px 0;

	background-color: #f7f7f7;
}

.my-works__title {
	margin: 0;

	text-align: center;
	text-transform: uppercase;
}

.my-works__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;

	list-style: none;
}

.my-works__item {
	margin-top: 20px;

	border: 10px solid #4d5b71;
}

.my-works__link:hover,
.my-works__link:focus {
	opacity: 1;
}

.my-works__img {
	display: block;

	object-fit: cover;
}

.page-footer {
	display: flex;
	justify-content: space-around;
	height: 100px;

	background-color: #4d5b71;
}

.page-footer__address {
	align-self: center;
	text-transform: uppercase;
	color: #ffffff;
}

.page-footer__social {
	align-self: center;
}

.social__list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social__item {
	margin-right: 20px;
}

.social__icon {
	fill: #ffffff;
}

.social__icon:hover,
.social__icon:focus {
	opacity: 0.5;
}

.social__icon:active {
	fill: #94979a;
}